@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F4F6;
  color: #191F28;
}

/* 스크롤바 숨김 (깔끔한 UI를 위해) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
